@font-face {
    font-family: 'ProximaNova-Regular';
    src: url(./fonts/ProximaNova-Regular.ttf);
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url(./fonts/ProximaNova-Bold.ttf);
}

html {
    font-family: 'ProximaNova-Regular';
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 520px) {
    .container {
        width: 90%;
    }
}