.filelist {
    ul {
        padding: 0;
    }

    li {
        list-style-type: none;

        a {        
            height: 50px;
            padding: .5em;
            width: calc(100% - 1em);
            border-radius: 8px;
            background-color: #f3f3f3;
            margin-bottom: 5px;
            cursor: pointer;
            display: flex;
            
            &:link,
            &:visited {
                color: black;
                text-decoration: none;
            }

            &:hover {
                background-color: #dadada;
            }

            .icon {
                height: 100%;
                &-right {
                    height: 100%;
                    float: right;
                }
            }

            span {
                margin-top: 15px;
                margin-left: 10px;
            }

            transition: all .1s ease-in;
        }
    }
}